#name{
}
.cart{
position: relative;
margin-right: 1%;
}
#addItem{
position: relative;
margin-right: 1%;
}
.sell{
position: relative;
margin-right: 1%;
}
#logout{
position: relative;
margin-right: 1%;
}
