#name{
}
#price{
  position: relative;
}
#image{
  float: left;
  margin-left: 25px;
  margin-right: 25px;
}
#desc{

}
#addbutn{
right: 0;
margin-right: 50px;
position: absolute;
margin-left: 10px;
}
#updatebutn{
right: 0;
margin-top: 40px;
margin-right: 50px;
position: absolute;
margin-left: 10px;
}
