#name{
}
#price{
  position: relative;
}
#image{
  float: left;
  margin-left: 25px;
  margin-right: 25px;
}
#desc{

}
<<<<<<< HEAD
#addbutn{
right: 0;
margin-right: 50px;
width: 300px;
height: 100px;
position: absolute;
margin-left: 10px;
}
#updatebutn{
right: 0;
margin-top: 15vh;
margin-right: 50px;
width: 300px;
height: 100px;
=======
#butn{
right: 0;
margin-right: 50px;
>>>>>>> ebd87bafb0dba71a53cbc986e5f3553b36f1ae52
position: absolute;
margin-left: 10px;
}
