<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Sign Up</title>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body style="font-size:55px">
<h1>Signup</h1>
<form>
  User name:<br>
  <input id="username" type="text" name="username" style="width:40vw; height:5vh; font-size:50px"><br>
  User password:<br>
  <input id="psw" type="password" name="psw" style="width:40vw; height:5vh; font-size:50px">
</form>
<br />
<input type="button" value="Sign Up!" id="signup" style="width:40vw; height:5vh; font-size:55px;"></input>


	<script src="js/mobile/signup.js"></script>

  </body>
</html>
